################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.exe
/CollectorzToKodi/CollectorzToKodi/obj/Debug/CollectorzToKodi Code.csprojResolveAssemblyReference.cache
/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.exe.config
/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.pdb
/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.vshost.exe
/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.vshost.exe.config
/CollectorzToKodi/CollectorzToKodi/bin/Debug/CollectorzToKodi.vshost.exe.manifest
/CollectorzToKodi/.vs/CollectorzToKodi/v14
/CollectorzToKodi/CollectorzToKodi/bin/Debug
/CollectorzToKodi/CollectorzToKodi/obj/Debug
/Sandcastle/Help/LastBuild.log
/Sandcastle/Help
/CollectorzToKodi/CollectorzToKodi/bin/Release
/CollectorzToKodi/CollectorzToKodi/obj/Release
