<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Collectorz.Collectorz" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Collectorz.Kodi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Collectorz.ServerList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Collectorz.Properties.SettingsMovieCollector" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Collectorz.Properties.SettingsCollectorz" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Collectorz.Properties.SettingsServer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Collectorz.Properties.SettingsKodi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Collectorz.Collectorz>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating)&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
        </Collectorz.Collectorz>
        <Collectorz.Kodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
        </Collectorz.Kodi>
        <Collectorz.ServerList>
            <setting name="NumberOfServer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>SHIRYOUSOOCHI,EIZOUSOOCHI,JOUSETSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX</value>
            </setting>
        </Collectorz.ServerList>
    </applicationSettings>
    <userSettings>
        <Collectorz.Properties.SettingsMovieCollector>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>(L&lt;Language&gt;)</value>
            </setting>
            <setting name="Movies" serializeAs="String">
                <value>(Movie)</value>
            </setting>
            <setting name="LocalPathToXMLExport" serializeAs="String">
                <value>P:\Collectorz.com\nfo-Konverter\nfoConverter\nfoConverter\bin\Filme.xml</value>
            </setting>
        </Collectorz.Properties.SettingsMovieCollector>
        <Collectorz.Properties.SettingsCollectorz>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating)&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
        </Collectorz.Properties.SettingsCollectorz>
        <Collectorz.Properties.SettingsServer>
            <setting name="NumberOfServer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>SHIRYOUSOOCHI,EIZOUSOOCHI,YOBISOOCHI,JOUSETSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V,X</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX
</value>
            </setting>
            <setting name="LocalPathOfServerForMediaStorage" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/Video,/share/Video,/share/Video</value>
            </setting>
            <setting name="MovieDirectory" serializeAs="String">
                <value>Filme</value>
            </setting>
            <setting name="SeriesDirectory" serializeAs="String">
                <value>Serien</value>
            </setting>
            <setting name="LocalPathOfServerForMediaPublication" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/XBMC,/share/XBMC,/share/XBMC</value>
            </setting>
        </Collectorz.Properties.SettingsServer>
        <Collectorz.Properties.SettingsKodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
        </Collectorz.Properties.SettingsKodi>
    </userSettings>
</configuration>