<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollectorzToKodi.Properties.SettingsMovieCollector" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.SettingsServer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CollectorzToKodi.Properties.SettingsMovieCollector>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
            <setting name="Movies" serializeAs="String">
                <value>XBMC Movie</value>
            </setting>
            <setting name="Series" serializeAs="String">
                <value>XBMC Serie</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="UrlForXMLExport" serializeAs="String">
                <value>P:\Collectorz.com\nfo-Konverter\nfoConverter\nfoConverter\bin\Filme.xml</value>
            </setting>
        </CollectorzToKodi.Properties.SettingsMovieCollector>
        <CollectorzToKodi.Properties.SettingsServer>
            <setting name="NumberOfServer" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>DOCUMENTS,YOBISOOCHI,SHIRYOUSOOCHI,JOUSETSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V,X</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX</value>
            </setting>
            <setting name="UrlForMediaStorageLocalFilesystem" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/Video,/share/Video,/share/Video</value>
            </setting>
            <setting name="MovieDirectory" serializeAs="String">
                <value>Filme</value>
            </setting>
            <setting name="SeriesDirectory" serializeAs="String">
                <value>Serien</value>
            </setting>
            <setting name="UrlForMediaPublicationLocalFilesystem" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/XBMC,/share/XBMC,/share/XBMC</value>
            </setting>
        </CollectorzToKodi.Properties.SettingsServer>
    </userSettings>
</configuration>