<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationsettings" type="System.Configuration.ApplicationsettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollectorzToKodi.CollectorzToKodi" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CollectorzToKodi.Kodi" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CollectorzToKodi.ServerList" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="usersettings" type="System.Configuration.UsersettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollectorzToKodi.Properties.settingsMovieCollector" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.settingsCollectorzToKodi" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.settingsServer" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.settingsKodi" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CollectorzToKodi.Properties.SettingsServer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.SettingsMovieCollector" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CollectorzToKodi.Properties.SettingsKodi" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationsettings>
        <CollectorzToKodi.CollectorzToKodi>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating)&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
        </CollectorzToKodi.CollectorzToKodi>
        <CollectorzToKodi.Kodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
        </CollectorzToKodi.Kodi>
        <CollectorzToKodi.ServerList>
            <setting name="NumberOfServer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>SHIRYOUSOOCHI,EIZOUSOOCHI,JOUsetSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX</value>
            </setting>
        </CollectorzToKodi.ServerList>
    </applicationsettings>
    <usersettings>
        <CollectorzToKodi.Properties.settingsMovieCollector>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>(L&lt;Language&gt;)</value>
            </setting>
            <setting name="Movies" serializeAs="String">
                <value>(Movie)</value>
            </setting>
            <setting name="LocalPathToXMLExport" serializeAs="String">
                <value>P:\Collectorz.com\nfo-Konverter\nfoConverter\nfoConverter\bin\Filme.xml</value>
            </setting>
        </CollectorzToKodi.Properties.settingsMovieCollector>
        <CollectorzToKodi.Properties.settingsCollectorzToKodi>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating)&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
        </CollectorzToKodi.Properties.settingsCollectorzToKodi>
        <CollectorzToKodi.Properties.settingsServer>
            <setting name="NumberOfServer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>SHIRYOUSOOCHI,EIZOUSOOCHI,YOBISOOCHI,JOUsetSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V,X</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX</value>
            </setting>
            <setting name="LocalPathOfServerForMediaStorage" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/Video,/share/Video,/share/Video</value>
            </setting>
            <setting name="MovieDirectory" serializeAs="String">
                <value>Filme</value>
            </setting>
            <setting name="SeriesDirectory" serializeAs="String">
                <value>Serien</value>
            </setting>
            <setting name="LocalPathOfServerForMediaPublication" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/XBMC,/share/XBMC,/share/XBMC</value>
            </setting>
        </CollectorzToKodi.Properties.settingsServer>
        <CollectorzToKodi.Properties.settingsKodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
        </CollectorzToKodi.Properties.settingsKodi>
    </usersettings>
    <userSettings>
        <CollectorzToKodi.Properties.SettingsServer>
            <setting name="NumberOfServer" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ListOfServer" serializeAs="String">
                <value>SHIRYOUSOOCHI,EIZOUSOOCHI,YOBISOOCHI,JOUSETSUSOOCHI</value>
            </setting>
            <setting name="DriveMappingOfServer" serializeAs="String">
                <value>P,U,V,X</value>
            </setting>
            <setting name="MappingType" serializeAs="String">
                <value>UNIX</value>
            </setting>
            <setting name="LocalPathOfServerForMediaStorage" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/Video,/share/Video,/share/Video</value>
            </setting>
            <setting name="MovieDirectory" serializeAs="String">
                <value>Filme</value>
            </setting>
            <setting name="SeriesDirectory" serializeAs="String">
                <value>Serien</value>
            </setting>
            <setting name="LocalPathOfServerForMediaPublication" serializeAs="String">
                <value>/share/XBMC/SHIRYOUSOOCHI/Programme,/share/XBMC,/share/XBMC,/share/XBMC</value>
            </setting>
        </CollectorzToKodi.Properties.SettingsServer>
        <CollectorzToKodi.Properties.SettingsMovieCollector>
            <setting name="Specials" serializeAs="String">
                <value>(Special)</value>
            </setting>
            <setting name="MPAARating" serializeAs="String">
                <value>(F&lt;MPAARating&gt;)</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>(S&lt;Season&gt;)</value>
            </setting>
            <setting name="Movies" serializeAs="String">
                <value>XBMC Movie</value>
            </setting>
            <setting name="Series" serializeAs="String">
                <value>XBMC Serie</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="LocalPathToXMLExport" serializeAs="String">
                <value>P:\Collectorz.com\nfo-Konverter\nfoConverter\nfoConverter\bin\Filme.xml</value>
            </setting>
        </CollectorzToKodi.Properties.SettingsMovieCollector>
        <CollectorzToKodi.Properties.SettingsKodi>
            <setting name="Skin" serializeAs="String">
                <value>Transparency!</value>
            </setting>
        </CollectorzToKodi.Properties.SettingsKodi>
    </userSettings>
</configuration>